body {
	margin: 0;
}
header {
	width: 1200px;
	margin: auto;
	padding-top: 40px;
}
.header-nav {
	display: flex;
	justify-content: space-between;
}
.section-1 {
	background-image: url(a-1-header.png);
	height: 250px;
	background-repeat: no-repeat;
	width: 1366px;
	margin: auto;
	text-align: center;
	color: white;
	padding-bottom: 60px;
}
h1 {
	padding-top: 50px;
	font-size: 44px;
	line-height: 74px;
	text-align: center;
	letter-spacing: 0.04em;
}
.header-text {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	width: 780px;
	margin: auto;
	color: rgba(255, 255, 255, 0.4);
}
.section-2 {
	width: 940px;
	margin: auto;
}
.sec-2-flex {
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}
.image-1 {
	margin-top: 80px;
}
.sec-2-block1 {
	width: 300px;
	margin-top: 71px;
}
.sec-2-address {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	padding-bottom: 25px;
}
.sec-2-address-2 {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.6;
}
.sec-2-block2 {
	width: 185px;
	margin-top: 40px;
}
.sec-2-block2 div {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	padding-bottom: 25px;
}
.sec-2-block2 i {
	padding: 0 10px;
	font-size: 1.2rem;
}
.sec-2-block2 span {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}
.sec-2-block3 {
	width: 225px;
	margin-top: 40px;
}
.sec-2-block3 i {
	padding: 0 15px;
	font-size: 1.2rem;
}
.sec-2-block3 div {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	padding-bottom: 25px;
}
.sec-2-block3 span {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}
.regist {
	background: #FFFFFF;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	width: 540px;
	height: 800px;
}
.regist-wid {
	width: 430px;
	margin: auto;
	padding: 15px 0;
}
.h2 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	padding: 55px 0;
}
.info {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
}
.but-info {
	border: 1px solid #356EAD;
	margin-top: 10px;
	border-radius: 5px;
	padding: 21px 0 21px 42px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.2;
}
.but-info-3 {
	border: 1px solid #356EAD;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	height: 140px;
	padding: 21px 0 21px 42px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.2;
}
.button {
	margin: auto;
	width: 428px;
	padding: 23px 0;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background: #5A98D0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
}
footer {
	background: #316099;
	border-radius: 0px 200px 0px 0px;
	height: 869px;
	margin-top: 125px;
	width: 1270px;
	color: white;
}
.footer-2-first {
	width: 940px;
	margin: auto;
}
.footer-2-up {
	display: flex;
}
.footer-2-block1 {
	width: 460px;
}
.footer-2-block1 h5 {
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	width: 320px;
}
.footer-2-block1 span {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.6;
}
.button-2 {
	width: 220px;
	height: 20px;
	font-size: 16px;
	padding: 10px 0 15px 0;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background: #5A98D0;
	border-radius: 10px;
	margin: 165px 200px 0 150px;
}
.hr {
	margin-top: 200px;
	opacity: 0.4;
	border: 1px solid #FFFFFF;
}
.footer-mail {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.footer-2 p {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}
.footer-mail h6 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}
.footer-phone {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.4;
	padding-top: 100px;
}
.footer-afr {
	margin-top: 40px;
	padding-left: 65px;
	display: inline-block;
	font-size: 28px;
	line-height: 46px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.footer-mail img {
	position: absolute;
	margin-top: 35px;
}

